* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    padding: 20px;
    background-color: #f8c18a;
    font-weight: 100;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

header div {
    text-align: center;
}

main {
    padding: 50px;
}

footer div {
    background-color: black;
    padding: 20px;
    color: #ffffff;
}